<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

    <div th:fragment="menu(u,user)">

        <div class="header-main">

            <div class="container">
                <!-- Logo -->
                <div class="logo">
                    <!--<a href="index.html"><img src="images/logo.png" alt="Handyman"></a>-->
                     <h1><a href="/"><span>Work</span>Man</a></h1>
                </div>
                <!-- Logo / End -->

                <button type="button" class="navbar-toggle">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Navigation -->
                <nav class="nav-main">
                    <div class="nav-main-inner">
                        <ul data-breakpoint="992" class="flexnav">
                            <li class="active"><a href="/">Inicio</a></li>
                            <li th:if="${user.hasRole('POSTULANTE')}"><a href="#">Postulante</a>
                                <ul>
                                    <li><a th:href="@{'/postulante/'+ ${u.getName()} + '/perfil'}">Mi Perfil</a></li>
                                    <li><a th:href="@{'/postulante/'+ ${u.getName()} + '/aplicaciones'}">Mis Aplicaciones</a></li>
                                    <!--  <li><a href="#">Editar Perfil</a></li> -->
                                </ul>
                            </li>
                            <li th:if="${user.hasRole('EMPRESA')}"><a href="#">Empresa</a>
                                <ul>
                                    <li><a th:href="@{'/company/'+ ${u.getName()} + '/profile'}">Perfil Empresa</a></li>
                                    <li><a th:href="@{'/buscar-candidatos'}">Buscar Candidatos</a></li>
                                </ul>
                            </li>
                            <li th:if="${user.hasRole('EMPRESA')}"><a href="#">Puesto</a>
                                <ul>
                                    <li><a th:href="@{'/puesto/crear'}">Registrar Puesto</a></li>
                                    <li><a th:href="@{'/puesto/lista'}">Mis Puestos</a></li>
                                </ul>
                            </li>
                            <li th:if="${user.hasRole('EMPRESA')}"><a href="#">Perfiles</a>
                                    <ul>
                                        <li><a th:href="@{'/empresa/'+${u.getName()}+'/perfiles/crear'}">Registrar perfil</a></li>
                                        <li><a th:href="@{'/empresa/'+${u.getName()}+'/perfiles'}">Mis perfiles</a></li>
                                    </ul>
                                </li>

                            <li th:if="${user.hasRole('ADMIN')}"><a href="#">Administración</a>
                                <ul>
                                    <li><a href="/admin/catalogos">Catálogos</a></li>
                                    <li><a href="/usuarios">Usuarios</a></li>
                                    <li><a href="/roles">Roles</a></li>
                                    <li><a href="/permissions">Permisos</a></li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                </nav>
                <!-- Navigation / End -->
            </div>
        </div>
    </div>

</body>
</html>