<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <div th:fragment="scripts">
        <script src="../static/assets/vendor/jquery-1.11.0.min.js"  th:src="@{/assets/vendor/jquery-1.11.0.min.js}"></script>
        <script src="../static/assets/vendor/jquery-migrate-1.2.1.min.js" th:src="@{/assets/vendor/jquery-migrate-1.2.1.min.js}"></script>
        <script src="../static/assets/vendor/bootstrap.js" th:src="@{/assets/vendor/bootstrap.js}"></script>
        <script src="../static/assets/vendor/jquery.flexnav.min.js" th:src="@{/assets/vendor/jquery.flexnav.min.js}"></script>
        <script src="../static/assets/vendor/jquery.hoverIntent.minified.js" th:src="@{/assets/vendor/jquery.hoverIntent.minified.js}"></script>
        <script src="../static/assets/vendor/jquery.flickrfeed.js" th:src="@{/assets/vendor/jquery.flickrfeed.js}"></script>
        <script src="../static/assets/vendor/magnific-popup/jquery.magnific-popup.js" th:src="@{/assets/vendor/magnific-popup/jquery.magnific-popup.js}"></script>
        <script src="../static/assets/vendor/owl-carousel/owl.carousel.min.js" th:src="@{/assets/vendor/owl-carousel/owl.carousel.min.js}"></script>
        <script src="../static/assets/vendor/jquery.fitvids.js" th:src="@{/assets/vendor/jquery.fitvids.js}"></script>
        <script src="../static/assets/vendor/jquery.appear.js" th:src="@{/assets/vendor/jquery.appear.js}"></script>
        <script src="../static/assets/vendor/jquery.stellar.min.js" th:src="@{/assets/vendor/jquery.stellar.min.js}"></script>
        <script src="../static/assets/vendor/jquery.countTo.js" th:src="@{/assets/vendor/jquery.countTo.js}"></script>
        <script src="../static/assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../static/assets/js/vendor/vue.js" th:src="@{/assets/js/vendor/vue.js}"></script>
        <script src="../static/assets/js/sweetalert2.js" th:src="@{/assets/js/sweetalert2.js}"></script>
        <script src="../static/assets/js/messages.js" th:src="@{/assets/js/messages.js}"></script>
        <script src="../static/assets/js/vendor/inputMask.js" th:src="@{/assets/js/vendor/inputMask.js}"></script>



    </div>
</body>
</html>