<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Bolsa Trabajo</title>

<body>
    <div class="site-wrapper" >
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu(${user},${usr})" th:remove="tag"></div>

        </header>


        <div class="main" role="main" id="app">

            <div th:include="fragmentos/heading :: heading('Certificaciones')"></div>

            <section class="page-content">
                <div class="container">
                    <a th:href="@{'/postulante/'+${username}+'/perfil'}" class="btn btn-success"><strong>Perfil</strong></a>

                    <div class="spacer"></div>
                    <div class="box">
                        <h5 class="center">Si no encuentra los datos en las opciones, agréguelos usted mismo!</h5>
                        <div class="center">
                            <a href="/instituciones/crear" class="btn btn-info" style="margin: 5px">Crear Institucion</a>
                            <a href="/certificaciones/crear" class="btn btn-info" style="margin: 5px">Crear Certificacion</a>
                        </div>
                    </div>

                    <br><br>

                    <div class="box">
                        <div class="row">

                            <form @submit.prevent="onSubmit">
                                <input type="hidden"
                                       th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}" />
                                <div class="form-group" th:object="${institution}">
                                    <label> Institucion</label>

                                    <select class="form-control" id="institution"
                                            v-model.number="institution"
                                            @change="getCertifications"
                                            type="number" name="institution" required>

                                        <option disabled value="">Seleccione institucion</option>

                                        <option th:each="institution : ${institutions}"
                                                th:value="${institution.id}"
                                                th:text="${institution.institutionName}"></option>
                                    </select>

                                </div>


                                <div class="form-group">
                                    <label> Certificacion</label>

                                    <select class="form-control" id="certification"
                                            v-model="certification"
                                            :disabled="certifications_list.length == 0"
                                            required>

                                        <option disabled value="">Seleccione Certificacion</option>

                                        <option v-for="certification in certifications_list"
                                                :value="certification.certificationId"
                                                v-text="certification.certificationTitle">

                                    </select>

                                </div>

                                <div class="form-group" :class="{'has-error': listErrors.has('code') }">
                                    <label> Id de la certificacion*</label>

                                    <input type="text" name="code"
                                           v-model="code" placeholder="Id de la certificacion" class="form-control" required/>

                                    <div class="help-block with-errors" v-if="listErrors.has('code')" v-text="listErrors.get('code')"></div>
                                </div>

                                <div class="form-group">
                                    <label> Fecha de expiracion*</label>

                                    <input type="date"
                                           name="expirationDate"
                                           v-model="expirationDate"
                                           min="2000-01-01"
                                           class="form-control" required/>

                                    <div    class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                                </div>
                            </form>

                        </div>
                    </div>


                </div>
            </section>

            <div th:include="fragmentos/footer :: footer"></div>
        </div>
    </div>


    <div th:include="fragmentos/scripts :: scripts" ></div>
    <script th:inline="javascript">let postulant = [[${user.getName()}]];</script>
    <script th:src="@{/assets/js/postulante/agregar_certificacion.js}"></script>
</body>
</html>