<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag">
    <meta charset="UTF-8">
    <title>Permisos</title>
    <script>

    </script>
</head>
<body>
<div class="site-wrapper" id="app">
    <header class="header header-menu-fullw">
        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>
        <div th:include="fragmentos/menu :: menu(${user},${usr})" th:remove="tag"></div>
    </header>


    <div class="main" role="main">

        <div th:include="fragmentos/heading :: heading('Realizar Exámenes')"></div>

        <section class="page-content">
            <div class="container">
                <div class="box">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3>Exámenes:</h3>

                            <div th:if="${messageSuccess!=null}" class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <span th:text="${messageSuccess}"></span>
                            </div>

                            <div class="table-responsive">

                                <table class="table table-bordered table-stripe tablita">
                                    <thead>
                                    <tr>
                                        <th class="table-color-bonito">Titulo</th>
                                        <th class="table-color-bonito">Sub Area Nombre</th>
                                        <th class="table-color-bonito"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="e,iter : ${examenes}">
                                        <td th:text="${e.titulo}"></td>
                                        <td th:text="${e.subArea.nombre}"></td>
                                        <td>
                                            <a th:href="@{/examenes/postulante/{id}(id=${e.id})}" style="text-decoration:none;">
                                                <button class="btn btn-success btn-xs"><span class="fa fa-pencil"></span> Resolver</button>
                                            </a>
                                        </td>

                                    </tr>
                                    <tr th:if="${examenes.size()==0}"><td colspan="3" style="text-align:center;"><span>No hay registros que mostrar</span></td></tr>
                                    </tbody>

                                </table>
                            </div>

                            <h3>Exámenes Realizados:</h3>

                            <div class="table-responsive">

                                <table class="table table-bordered table-stripe tablita">
                                    <thead>
                                    <tr>
                                        <th class="table-color-bonito">Titulo</th>
                                        <th class="table-color-bonito">Sub Area Nombre</th>
                                        <th class="table-color-bonito"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="er,iter : ${resultados}">
                                        <td th:text="${er.titulo}"></td>
                                        <td th:text="${er.subArea.nombre}"></td>
                                        <td>
                                            <a th:href="@{/examenes/resultado/{id}(id=${er.id})}" style="text-decoration:none;">
                                                <button class="btn btn-primary2 btn-xs"><span class="fa fa-pencil"></span> Ver Detalles</button>
                                            </a>
                                        </td>

                                    </tr>
                                    <tr th:if="${resultados.size()==0}"><td colspan="4"><span>No hay registros que mostrar</span></td></tr>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts"></div>
<script>
  (function() {
    var updateButton = document.getElementById('mostrarAreas');
    var cancelButton = document.getElementById('cancel');
    var areas = document.getElementById('areas');

    // Update button opens a modal dialog
    updateButton.addEventListener('click', function() {
      areas.showModal();
    });

    // Form cancel button closes the dialog box
    cancelButton.addEventListener('click', function() {
      areas.close();
    });

  })();
</script>
</body>
</html>