<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag">
    <title>Bolsa Trabajo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

<body>
<div class="site-wrapper">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu(${user},${usr})" th:remove="tag"></div>

    </header>


    <div class="main" id="app" role="main">

        <div th:include="fragmentos/heading :: heading('Editar Puesto')"></div>

        <section class="page-content">
            <div class="container">
                <div class="box">
                    <div th:if="${message!=null}" class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span th:text="${message}"></span>
                    </div>
                </div>
                <div class="box">
                    <h3> Datos</h3>
                    <form th:action="@{'/api/jobs/update/'+${job.id}}"
                          th:object="${job}"
                          th:method="PUT"
                          class="form-horizontal" role="form">

                        <div class="form-group">
                            <label> Titulo*</label>
                            <input type="text" th:field="*{puesto}" name="puesto"  th:value="${job.puesto}"
                                   placeholder="Titulo" class="form-control" required/>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts"></div>

</body>
</html>