<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Bolsa Trabajo</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

<body>
<div class="site-wrapper" id="app">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

    </header>


    <div class="main" role="main">

        <div th:include="fragmentos/heading :: heading('Puestos')"></div>

        <section class="page-content">
            <div class="container">
                <div th:if="${message!=null}" class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span th:text="${message}"></span>
                </div>
                <a href="/" th:href="@{/cat/cargos/crear}" class="btn btn-primary2">Nuevo</a>

                <!--Agregar alert en caso fallo-->

                <div class="table-responsive">
                    <table class="job-manager-jobs table table-bordered table-stripe">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre Puesto</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tr th:each="job : ${jobs}">
                            <td th:text="${job.id}"></td>
                            <td th:text="${job.puesto}"></td>
                            <td>
                                <a th:href="@{/cat/cargos/editar/{id}(id=${job.id})}" style="text-decoration:none;">
                                    <button class="btn btn-warning btn-xs"><span class="fa fa-pencil"></span> Editar</button>
                                </a>
                                <a style="text-decoration:none;">
                                    <button th:onclick="'eliminarRegistro(\'' + ${job.id} + '\',\'api\/cargos\/delete\')'"
                                            class="btn btn-danger btn-xs"><span class="fa fa-trash"></span> Eliminar</button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts"></div>
</body>
</html>