<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head th:include="fragmentos/head :: head" th:remove="tag">
</head>
<title>Bolsa Trabajo</title>

<body>
<div class="site-wrapper" id="app">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/menu :: menu" th:remove="tag"></div>

    </header>


    <div class="main" role="main">

        <div th:include="fragmentos/heading :: heading('Ingresar Certificacion')"></div>

        <section class="page-content">
            <div class="container">
                <div class="box">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3>Datos</h3>
                            <span th:utext="${successMessage}"></span>
                            <form th:object="${certification}"
                                  method="POST"
                                  class="form-horizontal" role="form" v-on:submit.prevent="onSubmit">

                                <input type="hidden"
                                       th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}" />

                                <div class="form-group" v-bind:class="{'help-block with-errors': listErrors.has('certificationCode') }">
                                    <label> Codigo*</label>
                                    <label th:if="${#fields.hasErrors('certificationCode')}" th:errors="*{certificationCode}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{certificationCode}" name="certificationCode" v-model="certificationCode" placeholder="Codigo" class="form-control" />
                                    <div class="help-block with-errors" v-if="listErrors.has('certificationCode')" v-text="listErrors.get('certificationCode')"></div>
                                </div>

                                <div class="form-group" v-bind:class="{'help-block with-errors': listErrors.has('certificationTitle') }">
                                    <label> Titulo*</label>
                                    <label th:if="${#fields.hasErrors('certificationTitle')}" th:errors="*{certificationTitle}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{certificationTitle}" name="certificationTitle" v-model="certificationTitle" placeholder="Titulo" class="form-control" />
                                    <div class="help-block with-errors" v-if="listErrors.has('certificationTitle')" v-text="listErrors.get('certificationTitle')"></div>

                                </div>

                                <div class="form-group" th:object="${institution}">
                                    <label> Institucion responsable*</label>
                                    <select class="form-control" id="institution" v-model.number="institution" type="number" name="institution" required>
                                        <option disabled value="">Seleccione institucion</option>
                                        <option th:each="institution : ${institutions}"
                                                th:value="${institution.id}"
                                                th:text="${institution.institutionName}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts"></div>
<script th:inline="javascript">

    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

    axios.defaults.headers.common['X-CSRF-TOKEN'] = token;

    class Errors{
        constructor (){
            this.errors = {};
        }
        record(listErrors){
            this.errors = listErrors;
        }
        get(field){
            if(this.errors[0]){
                var data = $.grep(this.errors,function(obj){
                return obj.field === field;
                });
                if(data.length!==0){
                    return data[0].defaultMessage
                }
            }
        }
        has(field){
            if(this.errors[0]){
                var data = $.grep(this.errors,function(obj){
                    return obj.field === field;
                });

                return (data.length !== 0)

            }
        }
    }
    new Vue({
        el: "#app",
        data: {
            certificationCode: "",
            certificationTitle: "",
            institution: "",
            listErrors: new Errors()
        },
        methods: {
            onSubmit: function(){
                axios.post("/api/certificaciones", this.$data)
                    .then(response => {
                        console.log(response);
                    })
                    .catch(error => {
                        this.listErrors.record(error.response.data.errors);
                    })
            }
        }
    })

</script>
</body>
</html>