<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head th:include="fragmentos/head :: head" th:remove="tag">
</head>
<title>Bolsa Trabajo</title>

<body>
<div class="site-wrapper" id="app">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/menu :: menu" th:remove="tag"></div>

    </header>


    <div class="main" role="main">

        <div th:include="fragmentos/heading :: heading('Ingresar Certificacion')"></div>

        <section class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    <h3>Datos</h3>
                    <span th:utext="${successMessage}"></span>
                    <form th:object="${certification}"
                          method="POST"
                          class="form-horizontal" role="form" v-on:submit.prevent="onSubmit">

                        <div class="form-group">
                            <label> Codigo*</label>
                            <label th:if="${#fields.hasErrors('certificationCode')}" th:errors="*{certificationCode}"
                                   class="validation-message"></label>
                            <input type="text" th:field="*{certificationCode}" name="certificationCode" v-model="certificationCode" placeholder="Codigo" class="form-control" required/>
                        </div>

                        <div class="form-group">
                            <label> Titulo*</label>
                            <label th:if="${#fields.hasErrors('certificationTitle')}" th:errors="*{certificationTitle}"
                                   class="validation-message"></label>
                            <input type="text" th:field="*{certificationTitle}" name="certificationTitle" v-model="certificationTitle" placeholder="Titulo" class="form-control" required/>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </form>

                    </div>
                </div>
            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts"></div>
<script th:inline="javascript">

    let code = "";
    let title = "";
    new Vue({
        el: "#app",
        data: {
            certificationCode: code,
            certificationTitle: title,
        },
        methods: {
            onSubmit: function(){
                axios.post("/certifications", this.$data)
                    .then(response = alert("success"))
                    .catch(error => {
                        console.log(error.response);
                    })
            }
        }
    })

</script>
</body>
</html>