<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Bolsa Trabajo</title>

<body>
<div class="site-wrapper">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

    </header>


    <div class="main" role="main" id="app">

        <div th:include="fragmentos/heading :: heading('Ingrese Certificacion')"></div>

        <section class="page-content" >
            <div class="container">
                <div class="box">
                    <form th:object="${certification}"
                          method="POST"
                          class="form-horizontal" role="form" @submit.prevent="onSubmit">

                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}" />

                        <div class="form-group" :class="{'has-error': listErrors.has('certificationTitle') }">

                            <label> Titulo*</label>

                            <input type="text" name="certificationTitle"
                                   v-model="certificationTitle" placeholder="Titulo" class="form-control" required/>

                            <div class="help-block with-errors" v-if="listErrors.has('certificationTitle')" v-text="listErrors.get('certificationTitle')"></div>

                        </div>

                        <div class="form-group" th:object="${institution}" v-if="!mostrar">
                            <label> Institucion responsable *</label>

                            <select class="form-control" id="institution"
                                    v-model.number="institution" type="number" name="institution" required>

                                <option disabled value="">Seleccione institucion</option>

                                <option th:each="institution : ${institutions}"
                                        th:value="${institution.id}"
                                        th:text="${institution.institutionName}"></option>
                            </select>

                        </div>

                        <div class="form-group">
                            <input type="checkbox" v-model="mostrar" id="checkbox">
                            <label for="checkbox">Otra institucion</label>
                        </div>

                        <div class="box" v-if="mostrar">
                            <div>
                                <div class="form-group">
                                    <label class="radio-inline">Tipo de Institucion:</label>
                                    <label class="radio-inline"><input type="radio" name="institutionType" v-model="institution.institutionType" value="Academica" required/> Academia</label>
                                    <label class="radio-inline"><input type="radio" name="institutionType" v-model="institution.institutionType" value="Empresa" /> Empresa</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="institution_name">Nombre de la institucion*</label>
                                <input type="text" class="form-control" v-model="institution.institutionName" id="institution_name"
                                       placeholder="Universidad de El Salvador" required>
                            </div>

                        </div>
                        <hr v-if="mostrar">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts" ></div>
<script th:src="@{/assets/js/crear_certificaciones.js}"></script>

</body>
</html>