<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"></head>
<title>Bolsa Trabajo</title>

<body>
<div class="site-wrapper">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

    </header>


    <div class="main" id="app" role="main">

        <div th:include="fragmentos/heading :: heading('Editar Certificacion')"></div>

        <section class="page-content">
            <div class="container">

                <div class="box">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3>Datos</h3>
                            <form th:object="${certification}"
                                  method="POST"
                                  class="form-horizontal" role="form" v-on:submit.prevent="onSubmit">

                                <input type="hidden"
                                       th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}" />


                                <div class="form-group" v-bind:class="{'help-block with-errors': listErrors.has('certificationTitle') }">
                                    <label> Titulo*</label>

                                    <label th:if="${#fields.hasErrors('certificationTitle')}" th:errors="*{certificationTitle}"
                                           class="validation-message"></label>

                                    <input type="text" th:field="*{certificationTitle}" name="certificationTitle"
                                           v-model="certificationTitle" placeholder="Titulo" class="form-control" />

                                    <div class="help-block with-errors" v-if="listErrors.has('certificationTitle')" v-text="listErrors.get('certificationTitle')"></div>

                                </div>

                                <div class="form-group" th:object="${institution}">

                                    <label> Institucion responsable*</label>

                                    <select class="form-control" id="institution"
                                            v-model.number="institution" type="number" name="institution" required>

                                        <option disabled value="">Seleccione institucion</option>

                                        <option th:each="institution : ${institutions}"
                                                th:value="${institution.id}"
                                                th:text="${institution.institutionName}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts"></div>
<script th:inline="javascript">let code = [[${certification.certificationCode}]];</script>
<script src="../static/assets/js/editar_certificaciones.js" th:src="@{/assets/js/editar_certificaciones.js}"></script>
</body>
</html>