<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>

<title>Bolsa Trabajo</title>

<body >
    <div class="site-wrapper" >
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

        </header>


        <div class="main" id="app" role="main">

            <div th:include="fragmentos/heading :: heading('Certificaciones')"></div>

            <section class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="/certificaciones/crear" class="btn btn-info">Agregar</a>
                        </div>
                    </div>
                    <div class="spacer-lg"></div>

                    <div class="table-responsive">
                        <table class="job-manager-jobs table table-bordered table-stripe">
                            <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Titulo</th>
                                <th>Institucion</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tr v-for="certification in certificaciones">
                                <td >{{ certification.certificationCode }}</td>
                                <td >{{ certification.certificationTitle }}</td>
                                <td >{{ certification.institution.institutionName }}</td>
                                <td>
                                    <div class="row">
                                        <div class="span12 centered-text">
                                            <a :href="'/certificaciones/' + certification.certificationCode + '/editar'"  class="btn btn-success inline">Editar</a>
                                            <a href="/" th:href="@{/}" class="btn btn-primary inline">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>

            <div th:include="fragmentos/footer :: footer"></div>
        </div>
    </div>


    <div th:include="fragmentos/scripts :: scripts" ></div>
    <script>
        new Vue({
            el: '#app',
            data: {
                certificaciones: [],
            },
            mounted(){
                axios.get("/api/certificaciones")
                    .then(response => {
                        console.log(response.data);
                        this.certificaciones = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        });
    </script>
</body>
</html>