<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Bolsa Trabajo</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

<body>
<div class="site-wrapper" id="app">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

    </header>


    <div class="main" role="main">

        <div th:include="fragmentos/heading :: heading('Titulos')"></div>

        <section class="page-content">
            <div class="container">
                <div class="box">
                    <div th:if="${message!=null}" class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span th:text="${message}"></span>
                    </div>
                </div>

                <!--Agregar alert en caso fallo-->

                <div class="table-responsive">
                    <table class="job-manager-jobs table table-bordered table-stripe">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre Puesto</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tr th:each="title : ${titles}">
                            <td th:text="${title.id}"></td>
                            <td th:text="${title.titulo}"></td>
                            <td>
                                <div class="row">
                                    <div class="span12 centered-text">
                                        <a href="/" th:href="@{/cat/titles/editar/{id}(id=${title.id})}" class="btn btn-success inline">Editar</a>
                                        <form th:action="@{'/api/cat/titles/delete/'+${title.id}}" th:method="DELETE" th:object="${title}" role="form"  class="btn inline">
                                            <button type="submit" onclick="return confirm('Seguro que desea eliminar el Titulo?')" class="btn btn-primary">Eliminar</button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts"></div>
</body>
</html>