<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Perfil Postulante</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

<body>

<div class="site-wrapper">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu(${user},${usr})" th:remove="tag"></div>

    </header>

    <!-- Main -->
    <div class="main" role="main" id="app">

        <!-- Page Heading -->
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Perfil Postulante</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Heading / End -->

        <!-- Page Content -->
        <section class="page-content">
            <div class="container">

                <div class="row">
                    <div class="content col-md-12">

                        <div class="box mb-30">
                           <div class="job-profile-info">
                                <div class="box">
                                    <div class="center">
                                        <div class="center_heigth">
                                            <H1 id="info-header">Informacion general</H1>
                                        </div>
                                    </div>
                                        <div th:if="${usr.hasRole('POSTULANTE')}" class="center">
                                        <div class="icon-box" >
                                            <a th:href="@{'/postulante/' + ${username} + '/editar'}" class="btn btn-sm btn-info">
                                                Editar
                                            </a>
                                        </div>
                                        </div>
                                    </br>
                                    <div class="info">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <p><Strong>Nombre:</Strong> {{postulante.name }} {{postulante.lastName}}</p>
                                                <p><Strong>Correo:</Strong> {{postulante.email}}</p>
                                                <p v-if="postulante.phonenumber != null"><Strong>Telefono:</Strong> {{postulante.phonenumber}}</p>
                                                <p v-if="postulante.cellphone != null"><Strong>Celular:</Strong> {{postulante.cellphone}}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p><Strong>Fecha de nacimiento:</Strong> {{ dateName(postulante.birthday) }}</p>
                                                <p><Strong>Genero:</Strong> {{postulante.gender}}</p>
                                                <p><Strong>Nit:</Strong> {{postulante.nit}}</p>

                                                <p v-if="postulante.stateOfEducation == 'BACHILLER'">Bachiller</p>
                                                <p v-if="postulante.stateOfEducation == 'UNIVERSITARIO_1'">Estudiante Universitario de 1° año</p>
                                                <p v-if="postulante.stateOfEducation == 'UNIVERSITARIO_2'">Estudiante Universitario de 2° año</p>
                                                <p v-if="postulante.stateOfEducation == 'UNIVERSITARIO_3'">Estudiante Universitario de 3° año</p>
                                                <p v-if="postulante.stateOfEducation == 'UNIVERSITARIO_4'">Estudiante Universitario de 4° año</p>
                                                <p v-if="postulante.stateOfEducation == 'UNIVERSITARIO_5'">Estudiante Universitario de 5° año</p>
                                                <p v-if="postulante.stateOfEducation == 'EGRESADO'">Egresado</p>
                                                <p v-if="postulante.stateOfEducation == 'GRADUADO'">Graduado</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="spacer-lg"></div>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>

                                    <h4>Educación</h4>
                                    <li class="job_listing">
                                        <a href="#">

                                            <div class="position">
                                                <h4>Universidad</h4>

                                            </div>
                                            <div class="rating">
                                                <div class="rating-stars">

                                                </div>
                                                <div class="reviews-num"></div>
                                            </div>
                                            <ul class="meta">
                                                <li class="job-type">Carrera</li>
                                                <li class="date">Fecha
                                                </li>
                                            </ul>
                                        </a>
                                    </li>
                                    <li class="job_listing">
                                        <a href="#">

                                            <div class="position">
                                                <h4>Otro lado</h4>

                                            </div>
                                            <div class="rating">
                                                <div class="rating-stars">

                                                </div>
                                                <div class="reviews-num"></div>
                                            </div>
                                            <ul class="meta">
                                                <li class="job-type">Carrera</li>
                                                <li class="date">Fecha
                                                </li>
                                            </ul>
                                        </a>
                                    </li>
                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <h4>Certificaciones</h4>
                                        </div>

                                        <div class="col-md-3" th:if="${usr.hasRole('POSTULANTE')}">
                                            <a th:href="@{'/postulante/' + ${username} + '/certificaciones/agregar'}" class="btn btn-sm btn-success">Agregar</a>
                                        </div>
                                    </div>
                                    <li class="job_listing">
                                        <div v-if="certifications.length != 0" class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="table-color-bonito">Certificacion</th>
                                                        <th class="table-color-bonito">Institucion</th>
                                                        <th class="table-color-bonito">Codigo</th>
                                                        <th class="table-color-bonito">Fecha de expiracion</th>
                                                        <th class="table-color-bonito" th:if="${usr.hasRole('POSTULANTE')}">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="(certification, index) in certifications">
                                                        <td>{{ certification.primaryKey.certification.certificationTitle }}</td>
                                                        <td>{{ certification.primaryKey.certification.institution.institutionName }}</td>
                                                        <td>{{ certification.code }}</td>
                                                        <td>{{ dateName(certification.expirationDate) }}</td>

                                                        <td th:if="${usr.hasRole('POSTULANTE')}">
                                                            <button class="btn btn-warning btn-xs" @click="redirectCertificaciones(certification)">Editar</button>
                                                            <button class="btn btn-danger btn-xs"
                                                                    @click="deleteCertificacion(index,certification)">Eliminar</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div v-if="certifications.length == 0" class="center_block">
                                            <p th:if="${usr.hasRole('POSTULANTE')}"><strong>NO HAY REGISTROS, DEBERIAS INGRESAR ALGUNAS CERTIFICACIONES</strong></p>
                                            <p th:if="${usr.hasRole('EMPRESA')}"><strong>ESTE ASPIRANTE NO HA PUBLICADO NINGÚN LIBRO</strong></p>
                                        </div>
                                    </li>

                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <h4>Idiomas</h4>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="col-md-3" th:if="${usr.hasRole('POSTULANTE')}">
                                                <a th:href="@{'/postulante/' + ${username} + '/idiomas/agregar'}" class="btn btn-sm btn-success">Agregar</a>
                                            </div>
                                        </div>
                                    </div>
                                    <li class="job_listing">
                                        <div v-if="postulantLanguages.length != 0" class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th class="table-color-bonito">Idioma</th>
                                                    <th class="table-color-bonito">Nivel</th>
                                                    <th th:if="${usr.hasRole('POSTULANTE')}" class="table-color-bonito">Acciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(language, index) in postulantLanguages">
                                                    <td>{{ language.primaryKey.language.nombre }}</td>
                                                    <td>{{language.languageLevel}}: {{cambiarDescripcion(language.languageLevel)}}</td>
                                                    <td class="center_block" th:if="${usr.hasRole('POSTULANTE')}">
                                                        <button class="btn btn-danger btn-xs" @click="deleteLanguage(index, language)">Eliminar</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div v-if="postulantLanguages.length == 0" class="center_block">
                                            <p th:if="${usr.hasRole('POSTULANTE')}"><strong>NO HAY REGISTROS, DEBERIAS INGRESAR ALGUN IDIOMA</strong></p>
                                            <p th:if="${usr.hasRole('EMPRESA')}"><strong>ESTE ASPIRANTE NO HA AGREGADO NINGÚN IDIOMA</strong></p>

                                        </div>

                                    </li>
                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h4>Libros o Publicaciones</h4>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="col-md-3" th:if="${usr.hasRole('POSTULANTE')}">
                                                <a th:href="@{'/postulante/' + ${username} + '/publicaciones/agregar'}" class="btn btn-sm btn-success">Agregar</a>
                                            </div>
                                        </div>
                                    </div>
                                    <li class="job_listing">
                                        <div v-if="postulantPublications.length != 0" class="table-responsive">
                                            <table class="table" style="padding:0px;margin:0px;">
                                                <thead>
                                                <tr>
                                                    <th class="table-color-bonito">Publicacion</th>
                                                    <th class="table-color-bonito">Fecha</th>
                                                    <th class="table-color-bonito">Acciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(publication, index) in postulantPublications">
                                                    <td>{{ publication.primaryKey.publication.titulo }}</td>
                                                    <td>{{ publication.publicationDate }}</td>
                                                    <td class="center_block" th:if="${usr.hasRole('POSTULANTE')}">
                                                        <button class="btn btn-danger btn-xs" @click="deletePublication(index,publication)">Eliminar</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div v-if="postulantPublications.length == 0" class="center_block">
                                            <p th:if="${usr.hasRole('POSTULANTE')}"><strong>NO HAY REGISTROS, DEBERIAS INGRESAR ALGUN LIBRO O PUBLICACION</strong></p>
                                            <p th:if="${usr.hasRole('EMPRESA')}"><strong>ESTE ASPIRANTE NO HA PUBLICADO NINGÚN LIBRO</strong></p>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <h4>Experiencia Laboral</h4>
                                        </div>

                                        <div class="col-md-3">
                                            <a th:href="@{'/postulante/'+ ${user.getName()} + '/workExp/agregar'}" class="btn btn-sm btn-success">Agregar</a>
                                        </div>
                                    </div>
                                    <div>
                                        <li class="job_listing">
                                            <a href="#">

                                                <div class="position">
                                                    <h4>Trabajito 1</h4>

                                                </div>
                                                <div class="rating">
                                                    <div class="rating-stars">

                                                    </div>
                                                    <div class="reviews-num"></div>
                                                </div>
                                                <ul class="meta">
                                                    <li class="job-type">Código</li>
                                                    <li class="date">Fecha
                                                    </li>
                                                </ul>
                                            </a>
                                        </li>
                                    </div>
                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h4>Recomendaciones</h4>
                                        </div>

                                        <div class="col-md-3" th:if="${usr.hasRole('POSTULANTE')}">
                                            <a  th:href="@{'/postulante/'+ ${username} + '/recomendaciones/crear'}"
                                                class="btn btn-sm btn-success">Agregar</a>
                                        </div>
                                    </div>
                                    <li class="job_listing">
                                        <div  v-for="(recomendation, index) in recommendations">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="icon-box">
                                                        <div class="icon">
                                                            <i class="fa fa-phone"></i>
                                                        </div>
                                                        <div class="icon-box-body">
                                                            <h6>{{recomendation.name}}</h6>
                                                            {{recomendation.phoneNumber}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 action-box" th:if="${usr.hasRole('POSTULANTE')}">
                                                    <button  class="btn btn-warning btn-xs" @click="redirectRecomendaciones(recomendation.id)">editar</button>
                                                    <button class="btn btn-danger btn-xs" @click="deleteRecomendation(index,recomendation.id)">Eliminar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="recommendations.length == 0" class="center_block">
                                            <p th:if="${usr.hasRole('POSTULANTE')}"><strong>NO HAY REGISTROS, DEBERIAS INGRESAR ALGUNAS RECOMENDACIONES</strong></p>
                                            <p th:if="${usr.hasRole('EMPRESA')}"><strong>ESTE ASPIRANTE NO HA AGREGADO RECOMENDACIONES PERSONALES</strong></p>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>

                                    <div class="row" id="logros-premios-etc">
                                        <div th:if="${messageSuccess!=null}" class="alert alert-success alert-dismissable">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <span th:text="${messageSuccess}"></span>
                                        </div>
                                        <div class="col-md-9">
                                            <h4>Logros, Premios, Etc.</h4>
                                        </div>

                                        <div class="col-md-3" th:if="${usr.hasRole('POSTULANTE')}">
                                            <a href="/logros/crear" class="btn btn-sm btn-success" >Agregar</a>
                                        </div>

                                    </div>
                                    <li class="job_listing">
                                        <div class="position">
                                            <div v-if="awards.length != 0" id="logros-spoiler" class="table-responsive">
                                                <table class="table" style="padding:0px;margin:0px;">
                                                    <thead>
                                                    <tr>
                                                        <th style="background: #99ccff;color: #000;">#</th>
                                                        <th class="col-md-3" style="background: #99ccff;color: #000;">Nombre del Logro</th>
                                                        <th class="col-md-3" style="background: #99ccff;color: #000;">Lugar</th>
                                                        <th class="col-md-3" style="background: #99ccff;color: #000;">Fecha</th>
                                                        <th style="background: #99ccff;color: #000;"></th>
                                                        <th style="background: #99ccff;color: #000;"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="award,iter : ${postulantInfo.getAwards()}">
                                                        <td> - </td>
                                                        <td th:text="${award.getNombre()}"></td>
                                                        <td th:text="${award.getLugar()}"></td>
                                                        <td th:text="${award.getFecha()}"></td>
                                                        <td>
                                                            <a th:href="@{/logros/{id}(id=${award.id})}" style="text-decoration:none;">
                                                                <button class="btn btn-warning btn-xs"><span class="fa fa-pencil"></span> Editar</button>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a style="text-decoration:none;">
                                                                <button th:onclick="'eliminarRegistro(\'' + ${award.id} + '\',\'award\')'"
                                                                        class="btn btn-danger btn-xs"><span class="fa fa-trash"></span> Eliminar</button>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div v-if="awards.length == 0" class="center_block">
                                                <p th:if="${usr.hasRole('POSTULANTE')}"><strong>NO HAY REGISTROS, DEBERIAS INGRESAR TUS LOGROS</strong></p>
                                            </div>
                                        </div>
                                        <div class="rating">
                                            <div class="rating-stars">

                                            </div>
                                            <div class="reviews-num"></div>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <h4>Habilidades</h4>
                                        </div>

                                        <div class="col-md-3" th:if="${usr.hasRole('POSTULANTE')}">
                                            <a th:href="@{'/postulante/' + ${username} + '/habilidades/crear'}" class="btn btn-sm btn-success">Agregar</a>
                                        </div>
                                    </div>
                                    <li class="job_listing">
                                        <div v-if="skills.length != 0" class="table-responsive">
                                            <table class="table" style="padding:0px;margin:0px;">
                                                <thead>
                                                <tr>
                                                    <th class="table-color-bonito">Habilidades</th>
                                                    <th class="table-color-bonito">Categoria</th>
                                                    <th th:if="${usr.hasRole('POSTULANTE')} "class="table-color-bonito">Acciones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(skill, index) in skills">
                                                    <td>{{ skill.primaryKey.skill.titulo }}</td>
                                                    <td>{{ skill.primaryKey.skill.skillCategory.titulo }}</td>
                                                    <td class="center_block" th:if="${usr.hasRole('POSTULANTE')}">
                                                        <button class="btn btn-danger btn-xs"
                                                                @click="deleteSkill(index,skill)">Eliminar</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div v-if="skills.length == 0" class="center_block">
                                            <p th:if="${usr.hasRole('POSTULANTE')}"><strong>NO HAY REGISTROS, DEBERIAS INGRESAR ALGUNAS HABILIDADES</strong></p>
                                            <p th:if="${usr.hasRole('EMPRESA')}"><strong>NO HAY REGISTROS, DEBERIAS INGRESAR ALGUNAS HABILIDADES</strong></p>
                                        </div>
                                    </li>

                                </ul>


                            </div>
                            <div class="center" th:if="${usr.hasRole('EMPRESA')}">
                                <a @click="redirectBack" class="btn btn-primary">Regresar a lista aspirantes</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- Page Content / End -->

        <div th:include="fragmentos/footer :: footer"></div>

    </div>
    <!-- Main / End -->
</div>

<div th:include="fragmentos/scripts :: scripts" ></div>
<script th:inline="javascript">let username = [[${username}]];</script>
<script th:inline="javascript">let awards = [[${postulantInfo.getAwards()}]];</script>
<script th:src="@{/assets/js/postulante/perfil.js}"></script>
</body>
</html>
