<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Bolsa Trabajo</title>

<body>
    <div class="site-wrapper">
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

        </header>


        <div class="main" role="main">

            <div th:include="fragmentos/heading :: heading('¡Bienvenido!')"></div>

            <section class="page-content">
                <div class="container">
                    <h4 class="text-center">El mejor lugar para encontrar un trabajo mejor</h4>
                    <div class="spacer-lg"></div>
                    <label>Sobre Nosotros</label>
                    <p>
                        Te damos la bienvenida a nuestra página, en donde podrás encontrar las mejores ofertas de trabajo que estén dentro de tu alcance.
                        A nuestras empresas le brindamos el mejor talento humano posible, todo para realizar una mejor contratación.
                        Promovemos oportunidades de empleabilidad, ayudando a que todas las personas que se acerquen a nuestro sitio puedan lograr sus metas personales.
                    </p>
                </div>
            </section>

            <div th:include="fragmentos/footer :: footer"></div>
        </div>
    </div>


    <div th:include="fragmentos/scripts :: scripts" ></div>
</body>
</html>