<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag">
</head>
<title>Puesto</title>
<body>
    <div>
        <div class="site-wrapper">
            <header class="header header-menu-fullw">

                <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

                <div th:include="fragmentos/menu :: menu(${user},${usr})" th:remove="tag"></div>

            </header>


            <div class="main" role="main" id="app">

                <div th:include="fragmentos/heading :: heading('Registro Puestos')"></div>
                <section class="page-content">
                    <div class="container">
                        <div th:if="${message != null}" class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span th:text="${message}"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <form autocomplete="off"
                                          th:action="@{/job}"
                                          th:object="${userForm}" method="post" class="form-horizontal"
                                          role="form">
                                        <div class="form-group">
                                            <label for="nombre">Nombre del puesto</label>
                                            <label th:if="${#fields.hasErrors('nombreJ')}" th:errors="*{nombreJ}"></label>
                                            <input type="text" th:field="*{nombreJ}" id="nombre" placeholder="Nombre del puesto" class="form-control" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="salario">Salario del puesto</label>
                                            <label th:if="${#fields.hasErrors('salarioJ')}" th:errors="*{salarioJ}"></label>
                                            <input type="number" th:field="*{salarioJ}" id="salario" min="1" placeholder="Salario del puesto" class="form-control" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="descripcion">Descripcion del puesto</label>
                                            <label th:if="${#fields.hasErrors('descripcionJ')}" th:errors="*{descripcionJ}"></label>
                                            <textarea type="text"
                                                      th:field="*{descripcionJ}"
                                                      id="descripcion"
                                                      rows="3"
                                                      cols="10" placeholder="Descripcion de puesto" class="form-control" required></textarea>
                                        </div>

                                        <div class="form-group" th:object="${jobProfile}" >
                                            <label for="jobProfile"> Seleccione un perfil*</label>

                                            <select @change="obtenerPerfil" class="form-control" id="jobProfile"
                                                    v-model.number="profile" type="number" name="jobProfile" required>

                                                <option value="">Seleccione Un perfil</option>

                                                <option th:each="jobProfile : ${jobProfiles}"
                                                        th:value="${jobProfile.id}"
                                                        th:text="${jobProfile.name}"></option>
                                            </select>

                                        </div>

                                        <div class="form-group">
                                            <label for="category">Categoria</label>
                                            <div class="field select-style">
                                                <select name="category" id="category" class="form-control"  th:field="*{category}"
                                                        required>
                                                    <option value="">Seleccione una Categoria</option>
                                                    <option value="Administracion">Administración</option>
                                                    <option value="Atencion a clientes">Atención a clientes</option>
                                                    <option value="Finanzas">Finanzas</option>
                                                    <option value="Informatica">Informática</option>
                                                    <option value="Manufactura">Manufactura</option>
                                                    <option value="Medicina">Medicina</option>
                                                    <option value="Publicidad">Publicidad</option>
                                                    <option value="Turismo">Turismo</option>
                                                    <option value="Ventas">Ventas</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="department">Departamento</label>
                                            <div class="field select-style">
                                                <select name="department" id="department" class="form-control"
                                                        th:field="*{department}" required>
                                                    <option value="">Seleccione un departamento</option>
                                                    <option th:each="department : ${departments_list}"
                                                            th:value="${department.id}"
                                                            th:text="${department.nombre}"></option>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Registrar Puesto</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box">
                                    <div>
                                        <h3 class="center">Datos del perfil</h3>
                                        <div>
                                            <h5>Informacion general</h5>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p><strong>Nombre: </strong>{{profileInfo.name}}</p>
                                                    <p><strong>Descripcion: </strong>{{profileInfo.description}}</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><strong>Edad minima: </strong>{{profileInfo.minAge}}</p>
                                                    <p><strong>Edad Maxima: </strong>{{profileInfo.maxAge}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <h5>Informacion Academica Requerida</h5>
                                            <div class="row">
                                                <ul class="list-group">
                                                    <li class="list-group-item" v-for="academica in profileInfo.academicExperienceProfile">
                                                        <strong>Titulo: </strong>{{academica.academicTitle.titulo}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div>
                                            <h5>Informacion Laboral</h5>
                                            <div class="row">
                                                <ul class="list-group">
                                                    <li class="list-group-item" v-for="laboral in profileInfo.workExperienceProfile">
                                                        <strong>Cargo: </strong>{{laboral.jobCat.puesto}}
                                                        <strong>Años de experiencia: </strong>{{laboral.yearOfExperience}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div>
                                            <h5>Informacion de habilidades</h5>
                                            <div class="row">
                                                <ul class="list-group">
                                                    <li class="list-group-item" v-for="skill in profileInfo.skills">
                                                        <span><strong>Habilidad: </strong>{{skill.skill.titulo}}</span>
                                                        <span><strong>Categoria: </strong>{{skill.skill.skillCategory.titulo}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div>
                                            <h5>Idiomas requeridos</h5>
                                            <div class="row">
                                                <ul class="list-group">
                                                    <li class="list-group-item" v-for="language in profileInfo.languages">
                                                        <span><strong>Idioma: </strong>{{language.language.nombre}}</span>
                                                        <span><strong>Nivel: </strong>{{language.languageLevel.titulo}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>

    <div th:include="fragmentos/scripts :: scripts" ></div>
    <script th:inline="javascript">let profiles = [[${profiles}]];</script>
    <script th:inline="javascript">let username = [[${user.getName()}]];</script>
    <script>
        new Vue({
            el: "#app",
            data: {
                username: username,
                profile: "",
                profiles: profiles,
                profileInfo: "",
            },
            methods: {
                obtenerPerfil(){
                    axios.get("/empresa/"+this.username+"/perfiles/"+this.profile)
                        .then(response => {
                            this.profileInfo = response.data;
                        })
                }
            }
        })
    </script>
    </body>
</html>