<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"></head>
<title>Lista de Aspirantes</title>
<body>
<div>
    <div class="site-wrapper" >
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

        </header>


        <div class="main" role="main" id="app">

            <div th:include="fragmentos/heading :: heading('Lista de Aspirantes')"></div>
            <section class="page-content">
                <div class="container">

                    <div class="spacer-lg"></div>
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="service-box">
                                <div class="service-body">
                                    <div class="service-icon">
                                        <i class="fa fa-user fa-3x"></i>
                                    </div>
                                    <h4>Aspirante1</h4>
                                    <p>asdfasdf</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="service-box">

                                <div class="service-body">
                                    <div class="service-icon">
                                        <i class="fa fa-user fa-3x"></i>
                                    </div>
                                    <h4 >Aspirante2</h4>
                                    <p>Providing a first class reliable service in all fields of electrical.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="service-box">

                                <div class="service-body">
                                    <div class="service-icon">
                                        <i class="fa fa-user fa-3x"></i>
                                    </div>
                                    <h4 >Aspirante 3</h4>
                                    <p>Carpenters </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="spacer-lg"></div>

            </section>
        </div>

    </div>


    <div th:include="fragmentos/footer :: footer"></div>
</div>
<div th:include="fragmentos/scripts :: scripts" ></div>
<script th:inline="javascript">let user = [[${user}]];</script>
<script th:inline="javascript">let job = [[${job}]];</script>

<script th:src="@{/assets/js/puesto/perfil/show_aspirantes.js}"></script>
</body>
</html>