<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"></head>
<title>Lista de Aspirantes</title>
<body>
<div>
    <div class="site-wrapper" >
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu(${user},${usr})" th:remove="tag"></div>

        </header>


        <div class="main" role="main" id="app">

            <div th:include="fragmentos/heading :: heading('Lista de Aspirantes')"></div>
            <section class="page-content">
                <div class="container">

                    <form class="job_filters" th:object="${filter}" th:o method="get"
                          @submit.prevent="onSubmit">

                        <div class="search_jobs center_block">

                            <div class="search_location">
                                <label for="location">I</label>
                                <span class="select-style">
										<select class="form-control" name="location" id="location"
                                                v-model="language">
                                            <option disabled value="" selected>Idioma</option>
											<option value="EN">Inglés</option>
											<option value="IT">Italiano</option>
                                            <option value="DE">Alemán</option>
											<option value="JA">Japonés</option>
										</select>
                            </span>
                            </div>

                            <div class="search_type">
                                <label>Educación</label>
                                <span class="select-style">
										<select name="category" id="category" class="form-control"
                                                v-model="level">
                                                <option disabled value="" selected>Educación</option>
											    <option value="A1">Basico</option>
                                                <option value="A2">Elemental</option>
                                                <option value="B1">Pre-Intermedio</option>
                                                <option value="B2">Intermedio Superior</option>
                                                <option value="C1">Avanzado</option>
                                                <option value="C2">Superior</option>
										</select>
									</span>
                            </div>


                            <div class="search_submit">
                                <label>Submit</label>
                                <button class="btn btn-block btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="search_submit">
                                <label>Submit</label>
                                <button class="btn btn-block btn-primary" v-on:click="limpiar"><i class="fa fa-eraser"></i></button>
                            </div>
                        </div>
                    </form>

                    <div class="row" v-for="aspirante in candidates">
                        <div class="call-to-action" >
                            <div class="cta-txt">
                                <div class="row">
                                    <div class="col-md-8">
                                    <h3>{{aspirante.postulant.name}} {{aspirante.postulant.lastName}} </h3>
                                    <p>Correo: {{aspirante.postulant.email}}</p>
                                    <p>Teléfono: {{aspirante.postulant.phonenumber}}</p>
                                    <p>Fecha de Nacimiento: {{aspirante.postulant.birthday}}</p>

                                    </div>
                                    <div class="cold-md-2">
                                        <div v-if="aspirante.postulant.academicExperiences.length !=0">
                                            <h5>Educación:</h5>
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </div>
                                        <div v-if="aspirante.postulant.postulantLanguages.length !=0">
                                            <h5>Idiomas:</h5>
                                            <ul v-for="idioma in aspirante.postulant.postulantLanguages">
                                                <li>{{idioma.language.nombre}} -> Nivel: {{idioma.languageLevel}}</li>
                                            </ul>
                                        </div>
                                        <div v-if="aspirante.postulant.skills.length !=0">
                                            <h5>Habilidades:</h5>
                                            <ul v-for="habilidad in aspirante.postulant.skills">
                                                <li>{{habilidad.skill.titulo}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cta-btn-candidato">
                                <a @click="redirectPerfil(aspirante.postulant.username)" class="btn btn-primary">Perfil</a>
                                <br><br>
                            </div>

                        </div>

                        <div class="spacer"></div>
                    </div>

                </div>
                <div class="spacer-lg"></div>

                <div v-if="candidates.length == 0" class="call-to-action centered">
                    <div class="spacer"></div>
                    <div class="cta-txt">
                        <h2>Ninguna persona ha aplicado a este puesto</h2>
                        <p>¡Aplica al puesto de trabajo que más te conviene!</p>
                    </div>

                    <div class="spacer"></div>
                </div>

            </section>
        </div>

    </div>


    <div th:include="fragmentos/footer :: footer"></div>
</div>

<div th:include="fragmentos/scripts :: scripts" ></div>

<script th:inline="javascript">let candidates = [[${candidates}]];</script>
<script>
    new Vue({
        el: "#app",
        data: {
            language: "",
            level: "",
            candidates: candidates,
        },
        methods: {
            redirectPerfil(user){
                window.location.href = "/postulante/"+user+"/perfil";
            }
        }
    })
</script>
</body>
</html>

