<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"></head>
<title>Lista de Aspirantes</title>
<body>
<div>
    <div class="site-wrapper" id="app">
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu(${user},${usr})" th:remove="tag"></div>

        </header>


        <div class="main" role="main">

            <div th:include="fragmentos/heading :: heading('Lista de Aspirantes')"></div>
            <section class="page-content">
                <div class="container">


                    <div class="title-bordered">
                        <h2>Featured Services<small>The most popular services</small></h2>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="service-box">
                                <figure class="service-img">
                                    <img src="images/samples/service1.jpg" alt="">
                                </figure>
                                <div class="service-body">
                                    <div class="service-icon">
                                        <i class="fa fa-paint-brush fa-3x"></i>
                                    </div>
                                    <h4 class="service-title">Painting</h4>
                                    <p>We've painted thousands of living rooms, kitchens and everything in between.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="service-box">
                                <figure class="service-img">
                                    <img src="images/samples/service2.jpg" alt="">
                                </figure>
                                <div class="service-body">
                                    <div class="service-icon">
                                        <i class="fa fa-bolt fa-3x"></i>
                                    </div>
                                    <h4 class="service-title">Electrical</h4>
                                    <p>Providing a first class reliable service in all fields of electrical.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="service-box">
                                <figure class="service-img">
                                    <img src="images/samples/service3.jpg" alt="">
                                </figure>
                                <div class="service-body">
                                    <div class="service-icon">
                                        <i class="fa fa-wrench fa-3x"></i>
                                    </div>
                                    <h4 class="service-title">Carpentry</h4>
                                    <p>Carpenters maintain and repair interior and exterior wood components.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>

    </div>


    <div th:include="fragmentos/footer :: footer"></div>
</div>

<div th:include="fragmentos/scripts :: scripts" ></div>
<script th:inline="javascript">let candidates = [[${candidates}]];</script>
<script>
    new Vue({
        el: "#app",
        data: {
            candidates: candidates,
        },
        methods: {
            
        }
    })
</script>
</body>
</html>