<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"></head>
<title>Lista de Puestos</title>
<body>
<div>
    <div class="site-wrapper" id="app">
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

        </header>


        <div class="main" role="main">

            <div th:include="fragmentos/heading :: heading('Lista de Puestos')"></div>
            <section class="page-content">
                <div class="container">
                    <a th:href="@{/puesto/crear}" class="btn btn-success">Nuevo</a>
                    <hr>
                    <div class="box">
                        <span th:utext="${successMessage}"></span>
                        <div class="table-responsive">
                            <table class="table table-bordered table-stripe">
                                <thead>
                                <tr>
                                    <th>Nombre Puesto</th>
                                    <th>Salario Puesto</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="j,iter : ${empresa.getJobs()}">
                                    <td th:text="${j.nombreJ}"></td>
                                    <td th:text="${j.SalarioJ}"></td>
                                    <td >

                                        <a th:href="@{'/puesto/'+${j.id}+'/perfil'}" class="btn btn-info">Perfil</a>
                                        <form th:action="@{'/job/' + ${j.id}}"
                                              th:method="DELETE" class="btn">
                                            <div >
                                                <button type="submit"
                                                        class="btn btn-danger btn-block"
                                                        onclick="return confirm('Seguro que desea eliminar este registro?')">Eliminar</button>
                                            </div>
                                        </form>

                                    </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>


    <div th:include="fragmentos/footer :: footer"></div>
</div>
// TODO: MOSTRAR MENSAJE SWEET ALERT
<div th:include="fragmentos/scripts :: scripts" ></div>
</body>
</html>