<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Detalles Puesto</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

<body>

<div class="site-wrapper">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu(${user},${usr})" th:remove="tag"></div>

    </header>

    <!-- Main -->
    <div class="main" role="main" id="app">

        <!-- Page Heading -->
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Detalles del puesto</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Heading / End -->

        <!-- Page Content -->
        <section class="page-content">
            <div class="container">

                <div class="row">
                    <div class="content col-md-12">

                        <div class="box mb-30">
                            <div class="job-profile-info">
                                <div class="row text-center">
                                        <h3 class="name">{{nombreJ}}</h3>
                                        <i class="tagline"></i>
                                        <ul class="meta">
                                            <li>{{company}}</li>
                                        </ul>
                                </div>

                                <div class="spacer-lg"></div>

                                <div class="row text-center">
                                    <div class="col-md-3">
                                        <h4>Categoría</h4>
                                        <p><i class="fa fa-institution"></i> {{category}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <h4>Ubicación</h4>
                                        <p><i class="fa fa-location-arrow"></i> {{department}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <h4>Salario</h4>
                                        <p><i class="fa fa-dollar"></i>{{salarioJ}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <h4>Edad</h4>
                                        <p><i class="fa fa-user"></i> {{edadMin}} - {{edadMax}} años</p>
                                    </div>
                                </div>

                                <div class="spacer"></div>
                                <div class="center">
                                    <h4>Descripción</h4>
                                </div>
                                <div class="center">
                                    <p>{{descripcionJ}}</p>

                                </div>
                                <div class="spacer"></div>

                                <ul class="job_listings">
                                    <div class="spacer"></div>
                                    <h4>Educación</h4>
                                    <div v-if="expAcademica.length == 0" class="center">
                                        <p>No se requieren estudios academicos.</p>
                                    </div>
                                    <li class="job_listing">
                                        <a href="#">

                                            <div class="position" style="text-transform: capitalize" v-for="edu in expAcademica">
                                                <h4>{{edu.academicTitle.titulo}}</h4>

                                            </div>
                                            <ul class="meta">
                                                <li class="job-type">{{estadoEducacion}}</li>
                                            </ul>
                                        </a>
                                    </li>
                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer"></div>
                                    <h4>Experiencia Laboral</h4>
                                    <div v-if="expLaboral.length == 0" class="center">
                                        <p>No se requiere experiencia laboral</p>
                                    </div>
                                    <li class="job_listing" v-for="trab in expLaboral">
                                        <a href="#">

                                            <div class="position" style="text-transform: capitalize">
                                                <h4>{{trab.jobCat.puesto}}</h4>

                                            </div>
                                            <ul class="meta">
                                                <li class="job-type">{{trab.yearOfExperience}} años de experiencia</li>
                                            </ul>

                                        </a>
                                    </li>
                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>

                                    <h4>Idiomas</h4>

                                    <div v-if="idiomas.length == 0" class="center">
                                        <p>No se requieren idiomas adicionales</p>
                                    </div>
                                    <li class="job_listing" v-for="lang in idiomas">
                                        <a href="#">

                                            <div class="position">
                                                <h4>{{lang.language.nombre}}</h4>
                                            </div>
                                            <ul class="meta">
                                                <li class="job-type">{{lang.languageLevel.titulo}}: {{lang.languageLevel.codigo}}</li>
                                            </ul>

                                        </a>
                                    </li>
                                </ul>

                                <ul class="job_listings">
                                    <div class="spacer-lg"></div>

                                    <div class="col-md-6">
                                        <li class="job_listing">

                                            <h4>Habilidades</h4>
                                            <div v-if="habilidades.length == 0" class="center">
                                                <p>No se requieren habilidades especiales</p>
                                            </div>
                                            <ul v-for="skills in habilidades">
                                                <li style="text-transform: capitalize">{{skills.skill.titulo}}</li>
                                            </ul>
                                        </li>
                                    </div>

                                </ul>



                            </div>

                        </div>

                    </div>

            </div>

                <div th:if="${usr.hasRole('POSTULANTE')}" class="row">
                    <div class="center">
                        <a @click="aplicar(userPostulant)" class="btn btn-danger">Aplicar</a>
                    </div>
                </div>

    </div>
    </section>
    <!-- Page Content / End -->

    <div th:include="fragmentos/footer :: footer"></div>

</div>
<!-- Main / End -->
</div>

<div th:include="fragmentos/scripts :: scripts" ></div>
<script th:inline="javascript">let job_id = [[${id}]];</script>
<script th:inline="javascript">let userPostulant = [[${userPostulant}]];</script>
<script th:src="@{/assets/js/puesto/perfil/show_puesto.js}"></script>
</body>
</html>
