<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head th:include="fragmentos/head :: head" th:remove="tag">
    <title>Bolsa de Trabajo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<body>
<div class="site-wrapper" id="app">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu" th:remove="tag"></div>

    </header>


    <div class="main" role="main">

        <div th:include="fragmentos/heading :: heading('Agrega tu publicación o libro')"></div>


        <!-- Page Content -->
        <section class="page-content">
            <div class="container">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- Job Form -->
                        <form  th:object="${publication}" method="post" id="submit-pub-form" class="job-manager-form"
                               v-on:submit.prevent="onSubmit">

                            <input type="hidden"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}" />

                            <!-- Book Information Fields -->
                            <fieldset class="fieldset-book_title">
                                <label for="book_title">Título</label>
                                <div class="field">
                                    <input type="text"  class="form-control" v-model="titulo"
                                           name="book_title" id="book_title" placeholder="Paper Data Analytics" />
                                </div>
                            </fieldset>

                            <fieldset class="fieldset-book_code">
                                <label for="book_code">Código</label>
                                <div class="field" v-bind:class="{'has-error': listErrors.has('codigo') }">
                                    <input type="text"  class="form-control" v-model="codigo"
                                           name="book_code" id="book_code" placeholder="PAD111" />
                                    <div class="help-block with-errors" v-if="listErrors.has('codigo')" v-text="listErrors.get('codigo')"></div>

                                </div>
                            </fieldset>

                            <fieldset class="fieldset-editorial">
                                <label for="editorial">Editorial</label>
                                <div class="field select-style">
                                    <select name="editorial" id="editorial" class="form-control"  v-model="editorial">
                                        <option value="Editorial1">Editorial 1</option>
                                        <option value="Editorial2">Editorial 2</option>
                                    </select>
                                </div>
                            </fieldset>

                            <div class="spacer"></div>

                            <h5>Selecciona el tipo de publicación</h5>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="radio radio__custom radio__style1">
                                        <label>
                                            <input type="radio" name="optionsRadios1" id="optRadio11" value="option1" checked>
                                            <span>Libro</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="radio radio__custom radio__style1">
                                        <label>
                                            <input type="radio" name="optionsRadios1" id="optRadio11" value="option1">
                                            <span>Publicación Científica</span>
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="spacer"></div>

                            <p>
                                <input type="submit" name="submit_publication" class="btn btn-primary" value="Agregar &rarr;" />
                            </p>

                        </form>
                        <!-- Job Form / End -->
                    </div>
                </div>

            </div>
        </section>
        <!-- Page Content / End -->

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts" ></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.0/axios.js" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.0/axios.js}"></script>
<script src="https://unpkg.com/vue" th:src="@{https://unpkg.com/vue}"></script>
<script src="../../static/assets/js/crear_publicacion.js"
        th:src="@{/assets/js/crear_publicacion.js}"></script>
</body>
</html>