<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Bolsa Trabajo</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

<body>
<div class="site-wrapper" id="app">
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu" th:remove="tag"></div>

    </header>


    <div class="main" role="main">

        <div th:include="fragmentos/heading :: heading('Publicaciones / Libros')"></div>

        <section class="page-content">
            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <a class="btn btn-info" href="/publicacion/crear">Crear</a>

                    </div>
                </div>

                <div class="spacer-lg"></div>

                <div class="table-responsive">
                    <table class="job-manager-jobs table table-bordered table-stripe">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Titulo</th>
                            <th>Editorial</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tr v-for="publication in publications">
                            <td >{{ publication.codigo }}</td>
                            <td >{{ publication.titulo }}</td>
                            <td >{{ publication.editorial }}</td>
                            <td >{{ publication.tipo }}</td>

                            <td>
                                <div class="row">
                                    <div class="span12 centered-text">
                                        <a v-bind:href="'/publicacion/'+publication.codigo+'/editar'" class="btn btn-success inline">Editar</a>
                                        <a v-bind:href="'/publicacion/'+publication.id+'/eliminar'" class="btn btn-primary inline">Eliminar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.0/axios.js"></script>
<script src="https://unpkg.com/vue"></script>
<script th:inline="javascript">

    new Vue({
        el: "#app",
        data: {
            id: "",
            publications: []
        },
        methods:{
            onSubmit: function(){}
        },
        mounted(){
            axios.get("/publications")
                .then(response => this.publications = response.data)
        }
    })

</script>
</body>
</html>