<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"/>
<title>Mis perfiles de trabajo</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

<body>
    <div class="site-wrapper">
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

        </header>


        <div class="main" role="main" id="app">

            <div th:include="fragmentos/heading :: heading('Mis perfiles de trabajo')"></div>

            <section class="page-content">
                <div class="container">
                   <div class="col-md-6 col-md-offset-3">
                       <div class="box">
                           <div class="row">
                               <ul class="list-group">
                                   <li class="list-group-item space_between" v-for="profile in profiles">
                                       <p style="margin: 0"><strong>Nombre del perfil: </strong> {{profile.name}}</p>
                                       <div class="flex_end">
                                           <span><a :href="'/empresa/'+profile.company.nombreC+'/perfiles/codigo/'+profile.id" class="btn btn-info btn-xs r-margin">Ver</a></span>
                                           <span><button class="btn btn-danger btn-xs">eliminar <i class="fa fa-times"></i></button></span>
                                       </div>
                                   </li>
                               </ul>
                           </div>
                       </div>
                   </div>
                </div>
            </section>

            <div th:include="fragmentos/footer :: footer"></div>
        </div>
    </div>


    <div th:include="fragmentos/scripts :: scripts" ></div>
    <script th:inline="javascript">let profiles = [[${profiles}]];</script>
    <script th:src="@{/assets/js/puesto/perfil/index_perfil.js}"></script>
</body>
</html>