<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag"></head>
<title>Instituciones</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

<body>
    <div class="site-wrapper" >
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu" th:remove="tag"></div>

        </header>

        <div class="main" role="main" id="app">

            <div th:include="fragmentos/heading :: heading('Ingresar Institucion')"></div>


            <section class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="box">
                                <div th:include="instituciones/form_instituciones :: form" th:remove="tag"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <div th:include="fragmentos/footer :: footer"></div>
        </div>
    </div>


    <div th:include="fragmentos/scripts :: scripts" >
    </div>
    <script src="../../static/assets/js/crear_instituciones.js"
            th:src="@{/assets/js/crear_instituciones.js}"></script>
</body>
</html>