<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag">
</head>
    <title>Empresa</title>
<body>
<div>
    <div class="site-wrapper" id="app">
        <header class="header header-menu-fullw">

            <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

            <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

        </header>


    <div class="main" role="main">

        <div th:include="fragmentos/heading :: heading('Registro Empresa')"></div>
        <section class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="box">
                            <span th:utext="${successMessage}"></span>
                            <form autocomplete="off"
                                  th:action="@{/registrar/company}"
                                  th:object="${userForm}" method="post" class="form-horizontal"
                                  role="form">
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('nombreC')}" th:errors="*{nombreC}"></label>
                                    <label >Nombre de la empresa *</label>
                                    <input type="text" th:field="*{nombreC}" name="nombreC"
                                           placeholder="Apple" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('repreLegal')}" th:errors="*{repreLegal}"></label>
                                    <label >Representante legal *</label>
                                    <input type="text"
                                           th:field="*{repreLegal}"
                                           name="repreLegal" placeholder="Steve Jobs" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label  th:if="${#fields.hasErrors('nitC')}" th:errors="*{nitC}"></label>
                                    <label >Nit* </label>
                                    <input  type="text" th:field="*{nitC}" pattern="[0-9]{4}-[0-9]{6}-[0-9]{3}-[0-9]{1}"
                                            title="Debe coincide con el formato ####-######-###-#"
                                            min="17"
                                            name="nitC"
                                            placeholder="####-######-###-#" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('telefonoC')}" th:errors="*{telefonoC}"></label>
                                    <label >Telefono *</label>
                                    <input  type="text" th:field="*{telefonoC}"
                                            pattern="[0-9]{4}-[0-9]{4}"
                                            title="Debe coincide con el formato ####-####"
                                            name="telefonoC"
                                            min="100"
                                            placeholder="####-####" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('informacionC')}" th:errors="*{informacionC}"></label>
                                    <label >Informacion de la empresa</label>
                                    <textarea type="text" th:field="*{informacionC}"
                                              name="informacionC"
                                              maxlength="200"
                                              placeholder="Informacion Empresa" class="form-control" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                                    <label >Correo</label>
                                    <input type="text" th:field="*{email}" placeholder="Email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
                                    <label >Nombre de usuario</label>
                                    <input type="text" th:field="*{username}" minlength="6" placeholder="Nombre de usuario" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
                                    <label >Contraseña</label>
                                    <input type="password" th:field="*{password}" minlength="8" placeholder="password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></label>
                                    <label >Confirmar Contraseña</label>
                                    <input type="password" th:field="*{passwordConfirm}" minlength="8" placeholder="passwordConfirm" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Registrar Empresa</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>

<div th:include="fragmentos/footer :: footer"></div>
</div>
<div th:include="fragmentos/scripts :: scripts" ></div>
<script>
    new Vue({
        el: "#app"
    })
</script>
</body>