<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragmentos/head :: head" th:remove="tag">
</head>
<title>Postulante</title>
<body>
<div class="site-wrapper" >
    <header class="header header-menu-fullw">

        <div th:include="fragmentos/top_bar :: top_bar(${user})" th:remove="tag"></div>

        <div th:include="fragmentos/menu :: menu(${user})" th:remove="tag"></div>

    </header>


    <div class="main" role="main" id="app">

        <div th:include="fragmentos/heading :: heading('Registro Postulante')"></div>

        <section class="page-content">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="box">
                            <span th:utext="${successMessage}"></span>
                            <form autocomplete="off"
                                  th:action="@{/registrar/postulante}"
                                  th:object="${userForm}" method="post" class="form-horizontal"
                                  role="form">

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                                    <input type="text" th:field="*{name}" placeholder="Nombre Postulante" class="form-control" required/>
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                                    <input type="text" th:field="*{lastName}" placeholder="Apellidos del Postulante" class="form-control" required/>
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
                                    <input type="text" th:field="*{username}" placeholder="Nombre de usuario" class="form-control" required/>
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" ></label>
                                    <label >Fecha de Nacimiento</label>
                                    <input type="date"
                                           name="birthday"
                                           placeholder="fecha de nacimiento"
                                           th:field="*{birthday}"
                                           class="form-control" required/>
                                </div>


                                <div class="form-group">
                                    <label for="gender" class="radio-inline">Genero:</label>
                                    <label class="radio-inline"><input type="radio" th:field="*{gender}" name="gender" value="Masculino" /> Masculino</label>
                                    <label class="radio-inline"><input type="radio" th:field="*{gender}" name="gender" value="Femenino" /> Femenino</label>
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('nit')}" th:errors="*{nit}"></label>
                                    <masked-input type="text" mask="1111-111111-111-1" name="nit" th:field="*{nit}" placeholder="Nit" class="form-control" required/>
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('dui')}" th:errors="*{dui}" ></label>
                                    <masked-input type="text" mask="11111111-1" name="dui" th:field="*{dui}" placeholder="DUI" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('nup')}" th:errors="*{nup}" ></label>
                                    <input type="text" th:field="*{nup}" placeholder="NUP" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('pasaporte')}" th:errors="*{pasaporte}" ></label>
                                    <input type="text" th:field="*{pasaporte}" placeholder="PASAPORTE" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" ></label>
                                    <input type="text" th:field="*{telefono}" placeholder="TELEFONO" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}" ></label>
                                    <input type="text" th:field="*{celular}" placeholder="CELULAR" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                                    <input type="email" th:field="*{email}" placeholder="Email" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></label>
                                    <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" ></label>
                                    <input type="password" th:field="*{passwordConfirm}" placeholder="Password Confirm" class="form-control" required/>
                                </div>

                                <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block">Registrar Postulante</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <div th:include="fragmentos/footer :: footer"></div>
    </div>
</div>


<div th:include="fragmentos/scripts :: scripts" ></div>
<script>
    new Vue({
        el: "#app"
    })
</script>

</body>
</html>